<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.HeadOfficeMapper">
	<insert id="WeekMenuSave">
        INSERT INTO tb_week_menu
    
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        idx,
	        menu_date,
	        content,
	        type,
	        update_dt,
	        reg_dt,
	        del_yn,
	        user_id,
	    </trim>
	    
	    VALUES
	    
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	    	#{idx},
	    	DATE_FORMAT(#{menu_date}, '%Y-%m-%d'),
	        #{content},
	        #{type},
	        DATE_FORMAT(now(), '%Y-%m-%d'),
	        DATE_FORMAT(#{reg_dt}, '%Y-%m-%d'),
	        #{del_yn},
	        #{user_id},
	    </trim>
	    
	    ON DUPLICATE KEY UPDATE
	    <trim suffixOverrides=",">
	    	idx=#{idx},
	        menu_date=DATE_FORMAT(#{menu_date}, '%Y-%m-%d'),
	        content=#{content},
	        type=#{type},
	        update_dt=DATE_FORMAT(now(), '%Y-%m-%d'),
	        reg_dt=DATE_FORMAT(#{reg_dt}, '%Y-%m-%d'),
	        del_yn=#{del_yn},
	        user_id=#{user_id},
	    </trim>
    </insert>
    
    <select id="WeekMenuList" parameterType="map" resultType="hashmap">
    	SELECT idx,
    		   DATE_FORMAT(menu_date, '%Y-%m-%d') as menu_date,
    		   content,
    		   type,
    		   del_yn,
    		   update_dt,
    		   reg_dt,
    		   user_id
			FROM tb_week_menu 
			WHERE DATE_FORMAT(menu_date, '%Y-%m') = CONCAT(#{year},'-',#{month})
			AND type = #{type}
			AND del_yn = 'N'
    </select>
    
    <select id="WeekMenuTodayList" parameterType="map" resultType="hashmap">
    	SELECT idx,
    		   DATE_FORMAT(menu_date, '%Y-%m-%d') as menu_date,
    		   content,
    		   type,
    		   del_yn,
    		   update_dt,
    		   reg_dt,
    		   user_id
			FROM tb_week_menu 
			WHERE DATE_FORMAT(menu_date, '%Y-%m-%d') = #{today}
			AND type = #{type}
			AND del_yn = 'N'
    </select>
    
    <insert id="EventSave">
        INSERT INTO tb_week_menu
    
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        idx,
	        menu_date,
	        end_date,
	        content,
	        type,
	        update_dt,
	        reg_dt,
	        del_yn,
	        user_id,
	    </trim>
	    
	    VALUES
	    
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	    	#{idx},
	    	DATE_FORMAT(#{menu_date}, '%Y-%m-%d'),
	    	DATE_FORMAT(#{end_date}, '%Y-%m-%d'),
	        #{content},
	        #{type},
	        DATE_FORMAT(now(), '%Y-%m-%d'),
	        DATE_FORMAT(#{reg_dt}, '%Y-%m-%d'),
	        #{del_yn},
	        #{user_id},
	    </trim>
	    
	    ON DUPLICATE KEY UPDATE
	    <trim suffixOverrides=",">
	    	idx=#{idx},
	        menu_date=DATE_FORMAT(#{menu_date}, '%Y-%m-%d'),
	        end_date=DATE_FORMAT(#{end_date}, '%Y-%m-%d'),
	        content=#{content},
	        type=#{type},
	        update_dt=DATE_FORMAT(now(), '%Y-%m-%d'),
	        reg_dt=DATE_FORMAT(#{reg_dt}, '%Y-%m-%d'),
	        del_yn=#{del_yn},
	        user_id=#{user_id},
	    </trim>
    </insert>
    
    <select id="EventList" parameterType="map" resultType="hashmap">
    	SELECT idx,
    		   DATE_FORMAT(menu_date, '%Y-%m-%d') as menu_date,
    		   DATE_FORMAT(end_date, '%Y-%m-%d') as end_date,
    		   content,
    		   type,
    		   del_yn,
    		   update_dt,
    		   reg_dt,
    		   user_id
			FROM tb_week_menu 
			WHERE DATE_FORMAT(menu_date, '%Y-%m') = CONCAT(#{year},'-',#{month})
			AND del_yn = 'N'
			AND type != 1
    </select>
    
    <select id="PeopleCountingList" parameterType="map" resultType="hashmap">
    	SELECT a.account_id
			 , a.account_name
		     , adn.diner_date
		     , ifnull(adn.total,0) as total
		FROM tb_account a
		LEFT OUTER JOIN tb_account_diners_number adn
		ON adn.account_id = a.account_id
		AND adn.diner_year = #{year}
		AND adn.diner_month = #{month}
		AND a.del_yn = 'N'
		ORDER BY a.account_id, diner_date ASC
    </select>
    
    <insert id="ProfitLossTableSave" parameterType="map">
    	INSERT INTO tb_account_managerment_table (
		    account_id,
		    year,
		    month,
		    living_estimate,
		    living_estimate_ratio,
		    basic_estimate,
		    basic_estimate_ratio,
		    living_cost,
		    living_ratio,
		    basic_cost,
		    basic_ratio,
		    employ_cost,
		    employ_ratio,
		    daycare_cost,
		    daycare_ratio,
		    daycare_emp_cost,
		    daycare_emp_ratio,
		    payback_price,
		    payback_ratio,
		    duty_secure,
		    duty_secure_ratio,
		    food_process,
		    food_trash_ratio,
		    dishwasher,
		    dishwasher_ratio,
		    cesco,
		    cesco_ratio,
		    water_puri,
		    water_ratio,
		    utility_bills,
		    utility_ratio,
		    utility_bills_note,
		    food_cost,
		    food_ratio,
		    etc_cost,
		    etc_ratio,
		    estimate_total,
		    estimate_total_ratio,
		    dispatch_cost,
		    dispatch_ratio,
		    person_cost,
		    person_ratio,
		    sales_total,
		    sales_total_ratio,
		    purchase_total,
		    purchase_total_ratio,
		    person_total,
		    person_total_ratio,
		    indirect_total,
		    indirect_total_ratio,
		    business_profit,
		    business_profit_ratio,
		    update_dt,
		    event_cost,
		    event_ratio,
		    not_budget_cost,
		    not_budget_ratio,
		    etc_indirect_cost,
		    etc_indirect_ratio
		)
		VALUES
		(
		    #{account_id},
		    #{year},
		    #{month},
		    #{living_estimate},
		    #{living_estimate_ratio},
		    #{basic_estimate},
		    #{basic_estimate_ratio},
		    #{living_cost},
		    #{living_ratio},
		    #{basic_cost},
		    #{basic_ratio},
		    #{employ_cost},
		    #{employ_ratio},
		    #{daycare_cost},
		    #{daycare_ratio},
		    #{daycare_emp_cost},
		    #{daycare_emp_ratio},
		    #{payback_price},
		    #{payback_ratio},
		    #{duty_secure},
		    #{duty_secure_ratio},
		    #{food_process},
		    #{food_trash_ratio},
		    #{dishwasher},
		    #{dishwasher_ratio},
		    #{cesco},
		    #{cesco_ratio},
		    #{water_puri},
		    #{water_ratio},
		    #{utility_bills},
		    #{utility_ratio},
		    #{utility_bills_note},
		    #{food_cost},
		    #{food_ratio},
		    #{etc_cost},
		    #{etc_ratio},
		    #{estimate_total},
		    #{estimate_total_ratio},
		    #{dispatch_cost},
		    #{dispatch_ratio},
		    #{person_cost},
		    #{person_ratio},
		    #{sales_total},
		    #{sales_total_ratio},
		    #{purchase_total},
		    #{purchase_total_ratio},
		    #{person_total},
		    #{person_total_ratio},
		    #{indirect_total},
		    #{indirect_total_ratio},
		    #{business_profit},
		    #{business_profit_ratio},
		    NOW(),
		    #{event_cost},
		    #{event_ratio},
		    #{not_budget_cost},
		    #{not_budget_ratio},
		    #{etc_indirect_cost},
		    #{etc_indirect_ratio}
		)
		ON DUPLICATE KEY UPDATE
		<trim suffixOverrides=",">
		    <if test="living_estimate != null">
		        living_estimate = #{living_estimate},
		    </if>
		    <if test="living_estimate_ratio != null">
		        living_estimate_ratio = #{living_estimate_ratio},
		    </if>
		    <if test="basic_estimate != null">
		        basic_estimate = #{basic_estimate},
		    </if>
		    <if test="basic_estimate_ratio != null">
		        basic_estimate_ratio = #{basic_estimate_ratio},
		    </if>
		    <if test="living_cost != null">
		        living_cost = #{living_cost},
		    </if>
		    <if test="living_ratio != null">
		        living_ratio = #{living_ratio},
		    </if>
		    <if test="basic_cost != null">
		        basic_cost = #{basic_cost},
		    </if>
		    <if test="basic_ratio != null">
		        basic_ratio = #{basic_ratio},
		    </if>
		    <if test="employ_cost != null">
		        employ_cost = #{employ_cost},
		    </if>
		    <if test="employ_ratio != null">
		        employ_ratio = #{employ_ratio},
		    </if>
		    <if test="daycare_cost != null">
		        daycare_cost = #{daycare_cost},
		    </if>
		    <if test="daycare_ratio != null">
		        daycare_ratio = #{daycare_ratio},
		    </if>
		    <if test="daycare_emp_cost != null">
		        daycare_emp_cost = #{daycare_emp_cost},
		    </if>
		    <if test="daycare_emp_ratio != null">
		        daycare_emp_ratio = #{daycare_emp_ratio},
		    </if>
		    <if test="payback_price != null">
		        payback_price = #{payback_price},
		    </if>
		    <if test="payback_ratio != null">
		        payback_ratio = #{payback_ratio},
		    </if>
		    <if test="duty_secure != null">
		        duty_secure = #{duty_secure},
		    </if>
		    <if test="duty_secure_ratio != null">
		        duty_secure_ratio = #{duty_secure_ratio},
		    </if>
		    <if test="food_process != null">
		        food_process = #{food_process},
		    </if>
		    <if test="food_trash_ratio != null">
		        food_trash_ratio = #{food_trash_ratio},
		    </if>
		    <if test="dishwasher != null">
		        dishwasher = #{dishwasher},
		    </if>
		    <if test="dishwasher_ratio != null">
		        dishwasher_ratio = #{dishwasher_ratio},
		    </if>
		    <if test="cesco != null">
		        cesco = #{cesco},
		    </if>
		    <if test="cesco_ratio != null">
		        cesco_ratio = #{cesco_ratio},
		    </if>
		    <if test="water_puri != null">
		        water_puri = #{water_puri},
		    </if>
		    <if test="water_ratio != null">
		        water_ratio = #{water_ratio},
		    </if>
		    <if test="utility_bills != null">
		        utility_bills = #{utility_bills},
		    </if>
		    <if test="utility_ratio != null">
		        utility_ratio = #{utility_ratio},
		    </if>
		    <if test="utility_bills_note != null">
		        utility_bills_note = #{utility_bills_note},
		    </if>
		    <if test="food_cost != null">
		        food_cost = #{food_cost},
		    </if>
		    <if test="food_ratio != null">
		        food_ratio = #{food_ratio},
		    </if>
		    <if test="etc_cost != null">
		        etc_cost = #{etc_cost},
		    </if>
		    <if test="etc_ratio != null">
		        etc_ratio = #{etc_ratio},
		    </if>
		    <if test="estimate_total != null">
		        estimate_total = #{estimate_total},
		    </if>
		    <if test="estimate_total_ratio != null">
		        estimate_total_ratio = #{estimate_total_ratio},
		    </if>
		    <if test="dispatch_cost != null">
		        dispatch_cost = #{dispatch_cost},
		    </if>
		    <if test="dispatch_ratio != null">
		        dispatch_ratio = #{dispatch_ratio},
		    </if>
		    <if test="person_cost != null">
		        person_cost = #{person_cost},
		    </if>
		    <if test="person_ratio != null">
		        person_ratio = #{person_ratio},
		    </if>
		    <if test="sales_total != null">
		        sales_total = #{sales_total},
		    </if>
		    <if test="sales_total_ratio != null">
		        sales_total_ratio = #{sales_total_ratio},
		    </if>
		    <if test="purchase_total != null">
		        purchase_total = #{purchase_total},
		    </if>
		    <if test="purchase_total_ratio != null">
		        purchase_total_ratio = #{purchase_total_ratio},
		    </if>
		    <if test="person_total != null">
		        person_total = #{person_total},
		    </if>
		    <if test="person_total_ratio != null">
		        person_total_ratio = #{person_total_ratio},
		    </if>
		    <if test="indirect_total != null">
		        indirect_total = #{indirect_total},
		    </if>
		    <if test="indirect_total_ratio != null">
		        indirect_total_ratio = #{indirect_total_ratio},
		    </if>
		    <if test="business_profit != null">
		        business_profit = #{business_profit},
		    </if>
		    <if test="business_profit_ratio != null">
		        business_profit_ratio = #{business_profit_ratio},
		    </if>
		    update_dt = NOW(),
		    <if test="event_cost != null">
		        event_cost = #{event_cost},
		    </if>
		    <if test="event_ratio != null">
		        event_ratio = #{event_ratio},
		    </if>
		    <if test="not_budget_cost != null">
		        not_budget_cost = #{not_budget_cost},
		    </if>
		    <if test="not_budget_ratio != null">
		        not_budget_ratio = #{not_budget_ratio},
		    </if>
		    <if test="etc_indirect_cost != null">
		        etc_indirect_cost = #{etc_indirect_cost},
		    </if>
		    <if test="etc_indirect_ratio != null">
		        etc_indirect_ratio = #{etc_indirect_ratio},
		    </if>
		</trim>
    </insert>
    
    <select id="ProfitLossTableList" parameterType="map" resultType="hashmap">
    	
		    <choose>
		        <when test="account_id == 'ALL'">
		            SELECT
					    'TOTAL' AS account_id,
					    year,
					    month,
					    -- [1. 식수 추정치 및 비율]
					    living_estimate,
					    basic_estimate,
					    (living_estimate + basic_estimate) AS estimate_total,
					    ROUND(IFNULL(living_estimate / NULLIF(living_estimate + basic_estimate, 0) * 100, 0), 1) AS living_estimate_ratio,
					    ROUND(IFNULL(basic_estimate / NULLIF(living_estimate + basic_estimate, 0) * 100, 0), 1) AS basic_estimate_ratio,
					    ROUND(IFNULL((living_estimate + basic_estimate) / NULLIF(living_estimate + basic_estimate, 0) * 100, 0), 1) AS estimate_total_ratio,
					
					    -- [2. 매출 항목 및 비율 (Sales)]
					    living_cost,
					    ROUND(IFNULL(living_cost / NULLIF(sales_total, 0) * 100, 0), 1) AS living_ratio,
					    basic_cost,
					    ROUND(IFNULL(basic_cost / NULLIF(sales_total, 0) * 100, 0), 1) AS basic_ratio,
					    employ_cost,
					    ROUND(IFNULL(employ_cost / NULLIF(sales_total, 0) * 100, 0), 1) AS employ_ratio,
					    daycare_cost,
					    ROUND(IFNULL(daycare_cost / NULLIF(sales_total, 0) * 100, 0), 1) AS daycare_ratio,
					    daycare_emp_cost,
					    ROUND(IFNULL(daycare_emp_cost / NULLIF(sales_total, 0) * 100, 0), 1) AS daycare_emp_ratio,
					    payback_price,
					    ROUND(IFNULL(payback_price / NULLIF(sales_total, 0) * 100, 0), 1) AS payback_ratio,
					    sales_total,
					    ROUND(IFNULL(sales_total / NULLIF(sales_total, 0) * 100, 0), 1) AS sales_total_ratio,
					
					    -- [3. 매입 항목 및 비율 (Purchase)]
					    food_process,
					    ROUND(IFNULL(food_process / NULLIF(sales_total, 0) * 100, 0), 1) AS food_trash_ratio,
					    dishwasher,
					    ROUND(IFNULL(dishwasher / NULLIF(sales_total, 0) * 100, 0), 1) AS dishwasher_ratio,
					    cesco,
					    ROUND(IFNULL(cesco / NULLIF(sales_total, 0) * 100, 0), 1) AS cesco_ratio,
					    water_puri,
					    ROUND(IFNULL(water_puri / NULLIF(sales_total, 0) * 100, 0), 1) AS water_ratio,
					    food_cost,
					    ROUND(IFNULL(food_cost / NULLIF(sales_total, 0) * 100, 0), 1) AS food_ratio,
					    etc_cost,
					    ROUND(IFNULL(etc_cost / NULLIF(sales_total, 0) * 100, 0), 1) AS etc_ratio,
					    event_cost,
					    ROUND(IFNULL(event_cost / NULLIF(sales_total, 0) * 100, 0), 1) AS event_ratio,
					    purchase_total,
					    ROUND(IFNULL(purchase_total / NULLIF(sales_total, 0) * 100, 0), 1) AS purchase_total_ratio,
					
					    -- [4. 인건비 항목 및 비율 (Labor)]
					    person_cost,
					    ROUND(IFNULL(person_cost / NULLIF(sales_total, 0) * 100, 0), 1) AS person_ratio,
					    dispatch_cost,
					    ROUND(IFNULL(dispatch_cost / NULLIF(sales_total, 0) * 100, 0), 1) AS dispatch_ratio,
					    (person_cost + dispatch_cost) AS person_total,
					    ROUND(IFNULL((person_cost + dispatch_cost) / NULLIF(sales_total, 0) * 100, 0), 1) AS person_total_ratio,
					
					    -- [5. 간접비 및 기타 (Indirect)]
					    utility_bills,
					    ROUND(IFNULL(utility_bills / NULLIF(sales_total, 0) * 100, 0), 1) AS utility_ratio,
					    ROUND(sales_total * 0.1, 0) AS duty_secure,
					    10.0 AS duty_secure_ratio,
					    (utility_bills + ROUND(sales_total * 0.1, 0)) AS indirect_total,
					    ROUND(IFNULL((utility_bills + (sales_total * 0.1)) / NULLIF(sales_total, 0) * 100, 0), 1) AS indirect_total_ratio,
					    
					    -- [6. 영업이익 (Profit)]
					    (sales_total - purchase_total - (person_cost + dispatch_cost) - (utility_bills + ROUND(sales_total * 0.1, 0))) AS business_profit,
					    ROUND(IFNULL((sales_total - purchase_total - (person_cost + dispatch_cost) - (utility_bills + ROUND(sales_total * 0.1, 0))) / NULLIF(sales_total, 0) * 100, 0), 1) AS business_profit_ratio,
					
					    -- [7. 기존 기타 항목들]
					    utility_bills_note,
					    not_budget_cost,
					    ROUND(IFNULL(not_budget_cost / NULLIF(sales_total, 0) * 100, 0), 1) AS not_budget_ratio,
					    etc_indirect_cost,
					    ROUND(IFNULL(etc_indirect_cost / NULLIF(sales_total, 0) * 100, 0), 1) AS etc_indirect_ratio,
					    update_dt
					
					FROM (
					    SELECT 
					        year, month,
					        -- 매출 기초 데이터
					        SUM(IFNULL(living_cost, 0)) AS living_cost,
					        SUM(IFNULL(basic_cost, 0)) AS basic_cost,
					        SUM(IFNULL(employ_cost, 0)) AS employ_cost,
					        SUM(IFNULL(daycare_cost, 0)) AS daycare_cost,
					        SUM(IFNULL(daycare_emp_cost, 0)) AS daycare_emp_cost,
					        SUM(IFNULL(payback_price, 0)) AS payback_price,
					        -- 매입 기초 데이터
					        SUM(IFNULL(food_process, 0)) AS food_process,
					        SUM(IFNULL(dishwasher, 0)) AS dishwasher,
					        SUM(IFNULL(cesco, 0)) AS cesco,
					        SUM(IFNULL(water_puri, 0)) AS water_puri,
					        SUM(IFNULL(food_cost, 0)) AS food_cost,
					        SUM(IFNULL(etc_cost, 0)) AS etc_cost,
					        SUM(IFNULL(event_cost, 0)) AS event_cost,
					        -- 인건비 및 기타
					        SUM(IFNULL(person_cost, 0)) AS person_cost,
					        SUM(IFNULL(dispatch_cost, 0)) AS dispatch_cost,
					        SUM(IFNULL(utility_bills, 0)) AS utility_bills,
					        SUM(IFNULL(not_budget_cost, 0)) AS not_budget_cost,
					        SUM(IFNULL(etc_indirect_cost, 0)) AS etc_indirect_cost,
					        
					        -- 공통 합계(상수처럼 사용하기 위해 서브쿼리에서 계산)
					        (SUM(IFNULL(living_cost, 0)) + SUM(IFNULL(basic_cost, 0)) + SUM(IFNULL(employ_cost, 0)) + 
					         SUM(IFNULL(daycare_cost, 0)) + SUM(IFNULL(daycare_emp_cost, 0)) + SUM(IFNULL(payback_price, 0))) AS sales_total,
					        
					        (SUM(IFNULL(food_process, 0)) + SUM(IFNULL(dishwasher, 0)) + SUM(IFNULL(cesco, 0)) + 
					         SUM(IFNULL(water_puri, 0)) + SUM(IFNULL(food_cost, 0)) + SUM(IFNULL(etc_cost, 0)) + SUM(IFNULL(event_cost, 0))) AS purchase_total,
					        
					        -- 식수 추정치 로직 (필요시 내부 변수/상수 적용)
					        ROUND(SUM(IFNULL(living_cost, 0)) / 30 / 5000, 1) AS living_estimate, 
					        ROUND(SUM(IFNULL(basic_cost, 0)) / 30 / 5000, 1) AS basic_estimate,
					
					        MAX(utility_bills_note) AS utility_bills_note,
					        MAX(DATE_FORMAT(update_dt, '%Y-%m-%d')) AS update_dt
					    FROM the_full.tb_account_managerment_table
					    WHERE year = #{year}
					    GROUP BY year, month
					) AS aggregated_data
					ORDER BY year ASC, month ASC
		        </when>
		        <otherwise>
		            SELECT account_id,
				    year,
				    month,
				    ifnull(living_estimate,0) as living_estimate,
				    ifnull(living_estimate_ratio,0) as living_estimate_ratio,
				    ifnull(basic_estimate,0) as basic_estimate,
				    ifnull(basic_estimate_ratio,0) as basic_estimate_ratio,
				    ifnull(living_cost,0) as living_cost,
				    ifnull(living_ratio,0) as living_ratio,
				    ifnull(basic_cost,0) as basic_cost,
				    ifnull(basic_ratio,0) as basic_ratio,
				    ifnull(employ_cost,0) as employ_cost,
				    ifnull(employ_ratio,0) as employ_ratio,
				    ifnull(daycare_cost,0) as daycare_cost,
				    ifnull(daycare_ratio,0) as daycare_ratio,
				    ifnull(daycare_emp_cost,0) as daycare_emp_cost,
				    ifnull(daycare_emp_ratio,0) as daycare_emp_ratio,
				    ifnull(payback_price,0) as payback_price,
				    ifnull(payback_ratio,0) as payback_ratio,
				    ifnull(duty_secure,0) as duty_secure,
				    ifnull(duty_secure_ratio,0) as duty_secure_ratio,
				    ifnull(food_process,0) as food_process,
				    ifnull(food_trash_ratio,0) as food_trash_ratio,
				    ifnull(dishwasher,0) as dishwasher,
				    ifnull(dishwasher_ratio,0) as dishwasher_ratio,
				    ifnull(cesco,0) as cesco,
				    ifnull(cesco_ratio,0) as cesco_ratio,
				    ifnull(water_puri,0) as water_puri,
				    ifnull(water_ratio,0) as water_ratio,
				    ifnull(utility_bills,0) as utility_bills,
				    ifnull(utility_ratio,0) as utility_ratio,
				    utility_bills_note,
				    ifnull(food_cost,0) as food_cost,
				    ifnull(food_ratio,0) as food_ratio,
				    ifnull(etc_cost,0) as etc_cost,
				    ifnull(etc_ratio,0) as etc_ratio,
				    ifnull(estimate_total,0) as estimate_total,
				    ifnull(estimate_total_ratio,0) as estimate_total_ratio,
				    ifnull(dispatch_cost,0) as dispatch_cost,
				    ifnull(dispatch_ratio,0) as dispatch_ratio,
				    ifnull(person_cost,0) as person_cost,
				    ifnull(person_ratio,0) as person_ratio,
				    ifnull(sales_total,0) as sales_total,
				    ifnull(sales_total_ratio,0) as sales_total_ratio,
				    ifnull(purchase_total,0) as purchase_total,
				    ifnull(purchase_total_ratio,0) as purchase_total_ratio,
				    ifnull(person_total,0) as person_total,
				    ifnull(person_total_ratio,0) as person_total_ratio,
				    ifnull(indirect_total,0) as indirect_total,
				    ifnull(indirect_total_ratio,0) as indirect_total_ratio,
				    ifnull(business_profit,0) as business_profit,
				    ifnull(business_profit_ratio,0) as business_profit_ratio,
				    ifnull(event_cost,0) as event_cost,
				    ifnull(event_ratio,0) as event_ratio,
				    DATE_FORMAT(update_dt, '%Y-%m-%d') AS update_dt,
				    ifnull(not_budget_cost,0) as not_budget_cost,
				    ifnull(not_budget_ratio,0) as not_budget_ratio,
				    ifnull(etc_indirect_cost,0) as etc_indirect_cost,
				    ifnull(etc_indirect_ratio,0) as etc_indirect_ratio
				FROM the_full.tb_account_managerment_table
				WHERE year = #{year}
				AND account_id = #{account_id}
		        </otherwise>
		    </choose>
    </select>
    
    <select id="ProfitLossTotalSave" statementType="CALLABLE" parameterType="map">
	    { CALL ProfitLossTotalSave(
	        #{year, mode=IN, jdbcType=INTEGER},
	        #{month, mode=IN, jdbcType=INTEGER},
	        #{account_id, mode=IN, jdbcType=VARCHAR},
	        #{result, mode=OUT, jdbcType=INTEGER}
	    ) }
	</select>
	
	<select id="AccountManagermentTableList" parameterType="map" resultType="hashmap">
		SELECT account_id,
		    year,
		    month,
		    living_estimate,
		    living_estimate_ratio,
		    basic_estimate,
		    basic_estimate_ratio,
		    living_cost,
		    living_ratio,
		    basic_cost,
		    basic_ratio,
		    employ_cost,
		    employ_ratio,
		    daycare_cost,
		    daycare_ratio,
		    daycare_emp_cost,
		    daycare_emp_ratio,
		    payback_price,
		    payback_ratio,
		    duty_secure,
		    duty_secure_ratio,
		    food_process,
		    food_trash_ratio,
		    dishwasher,
		    dishwasher_ratio,
		    cesco,
		    cesco_ratio,
		    water_puri,
		    water_ratio,
		    utility_bills,
		    utility_ratio,
		    food_cost,
		    food_ratio,
		    etc_cost,
		    etc_ratio,
		    estimate_total,
		    estimate_total_ratio,
		    dispatch_cost,
		    dispatch_ratio,
		    person_cost,
		    person_ratio,
		    sales_total,
		    sales_total_ratio,
		    purchase_total,
		    purchase_total_ratio,
		    person_total,
		    person_total_ratio,
		    indirect_total,
		    indirect_total_ratio,
		    business_profit,
		    business_profit_ratio,
		    update_dt
		FROM the_full.tb_account_managerment_table
	</select>
	
	<select id="AccountMappingPurchaseList" parameterType="map" resultType="hashmap">
    	SELECT T2.type,
			   T2.name,
			   T.count_month,
				SUM(
			(COALESCE(day_1, 0) + COALESCE(day_2, 0) + COALESCE(day_3, 0) + COALESCE(day_4, 0) +
			 COALESCE(day_5, 0) + COALESCE(day_6, 0) + COALESCE(day_7, 0) + COALESCE(day_8, 0) +
			 COALESCE(day_9, 0) + COALESCE(day_10, 0) + COALESCE(day_11, 0) + COALESCE(day_12, 0) +
			 COALESCE(day_13, 0) + COALESCE(day_14, 0) + COALESCE(day_15, 0) + COALESCE(day_16, 0) +
			 COALESCE(day_17, 0) + COALESCE(day_18, 0) + COALESCE(day_19, 0) + COALESCE(day_20, 0) +
			 COALESCE(day_21, 0) + COALESCE(day_22, 0) + COALESCE(day_23, 0) + COALESCE(day_24, 0) +
			 COALESCE(day_25, 0) + COALESCE(day_26, 0) + COALESCE(day_27, 0) + COALESCE(day_28, 0) +
			 COALESCE(day_29, 0) + COALESCE(day_30, 0) + COALESCE(day_31, 0)
			)) as total
		FROM tb_account_tally_sheet T
		JOIN tb_account_mapping T2
		ON T2.type = T.type
		WHERE T.count_year = #{year}
		<if test="month != null">
	    AND count_month = #{month}
	    </if>
		GROUP BY T2.type, T2.name, T.count_month
		ORDER BY T2.type
    </select>
    
    <select id="HeadOfficeElectronicPaymentTypeList" parameterType="map" resultType="hashmap">
    	SELECT doc_type, doc_name, position
		FROM tb_electronic_payment_type
		WHERE del_yn = 'N'
    </select>
    
    <select id="HeadOfficeElectronicPaymentList" parameterType="map" resultType="hashmap">
    	SELECT payment_id, 
    		   DATE_FORMAT(draft_dt, '%Y-%m-%d') AS draft_dt,
    		   doc_type,
    		   user_id,
    		   charge_sign,
    		   tm_sign,
    		   payer_sign,
    		   ceo_sign,
    		   status,
    		   tm_user,
    		   payer_user,
    		   ceo_user,
    		   department,
    		   DATE_FORMAT(reg_dt, '%Y-%m-%d') AS reg_dt
		FROM tb_headoffice_electronic_payment
		WHERE del_yn = 'N'
    </select>

	<insert id="HeadOfficeElectronicPaymentSave">
        INSERT INTO tb_headoffice_electronic_payment
    
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        payment_id,
	        draft_dt,
	        doc_type,
	        department,
	        status,
	        user_id,
	        charge_sign,
	        tm_user,
	        tm_sign,
	        payer_user,
	        payer_sign,
	        ceo_user,
	        ceo_sign,
	        reg_dt,
	        reg_user_id
	    </trim>
	    
	    VALUES
	    
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	    	#{payment_id},
	    	DATE_FORMAT(#{draft_dt}, '%Y-%m-%d'),
	        #{doc_type},
	        #{department},
	        #{status},
	        #{user_id},
	        #{charge_sign},
	        #{tm_user},
	        #{tm_sign},
	        #{payer_user},
	        #{payer_sign},
	        #{ceo_user},
	        #{ceo_sign},
	        DATE_FORMAT(now(), '%Y-%m-%d'),
	        #{user_id}
	    </trim>
	    
	    ON DUPLICATE KEY UPDATE
	    <trim suffixOverrides=",">
	    	draft_dt = DATE_FORMAT(#{draft_dt}, '%Y-%m-%d'),
	        doc_type = #{doc_type},
	        department = #{department},
	        status = #{status},
	        user_id= #{user_id},
	        charge_sign = #{charge_sign},
	        tm_user = #{tm_user},
	        tm_sign = #{tm_sign},
	        payer_user = #{payer_user},
	        payer_sign = #{payer_sign},
	        ceo_user = #{ceo_user},
	        ceo_sign = #{ceo_sign}
	    </trim>
    </insert>
    
    <insert id="HeadOfficePurchaseRequestSave">
        INSERT INTO tb_headoffice_purchase_request
    
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        idx,
	        payment_id,
	        item_name,
	        qty,
	        price,
	        use_note,
	        link,
	        note,
	        payment_note
	    </trim>
	    
	    VALUES
	    
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	    	#{idx},
	        #{payment_id},
	        #{item_name},
	        #{qty},
	        #{price},
	        #{use_note},
	        #{link},
	        #{note},
	        #{payment_note}
	    </trim>
	    
	    ON DUPLICATE KEY UPDATE
	    <trim suffixOverrides=",">
	    	payment_id = #{payment_id},
	        item_name = #{item_name},
	        qty = #{qty},
	        price = #{price},
	        use_note = #{use_note},
	        link = #{link},
	        note = #{note},
	        payment_note = #{payment_note}
	    </trim>
    </insert>
    
    <select id="HeadOfficeDepartmentList" resultType="hashmap">
		SELECT department, 
			   CASE WHEN department = 0
			   		THEN '대표실'
			   		WHEN department = 2
			   		THEN '회계팀'
			   		WHEN department = 3
			   		THEN '인사팀'
			   		WHEN department = 4
			   		THEN '영업팀'
			   		WHEN department = 5
			   		THEN '운영팀'
			   		ELSE '개발팀' END AS dept_name
	 	FROM tb_user
		WHERE del_yn = 'N'
		AND department not in (1,7)
		GROUP BY department
        ORDER BY department ASC;
	</select>
	
	<select id="HeadOfficeUserListByDepartment" resultType="hashmap">
		SELECT user_id, user_name, department, position, join_dt, user_type
	 	FROM tb_user
		WHERE del_yn = 'N'
		AND department = #{department}
		ORDER BY position ASC
	</select>
</mapper>